.navbar {
  border-radius: 0px;

  a {
    text-decoration: none;
  }

  border: none !important;
}


.navbar-default {
  background: linear-gradient(to left, #d74040 0%, #ebcf64 100%);
}


.navbar-default {
    background-color: #191919 !important;
    border-color: transparent !important;
    height: 20vh;
}


.navbar-nav {
    position: absolute !important;
    top: 30% !important;
    right: 2% !important;
}
