h1 {
  font-family: $font-family-regular;
  font-size: 3rem;
  color: $color-silver-dark !important;
  padding-bottom: .6rem;
}

h2 {
  font-family: $font-family-regular;
  font-size: 2.5rem;
  color: $color-silver-dark !important;
}

h3 {
  font-family: $font-family-regular;
  font-size: 2rem;
  color: $color-silver-dark !important;
}

h4 {
  font-family: $font-family-regular;
  font-size: 1.5rem;
  color: $color-silver-dark !important;
}

h5 {
  font-family: $font-family-regular;
  font-size: 1rem;
  color: $color-silver-dark !important;
}

p {
  font-family: $font-family-regular;
  font-size: 1rem;
  line-height: 2rem;
  color: $color-silver-dark !important;
}

a {
  font-family: $font-family-regular;
  font-size: 1rem;
  text-decoration: underline;

  &:hover {
    color: $color-silver-dark !important;
    cursor: pointer;
  }
}

b, strong {
  font-weight: bold;
}

code {
  padding: 2px 4px;
}

label {
  font-family: $font-family-regular;
  color: $color-silver-dark !important;
}
